*, 
*::before,
*::after {
    box-sizing: border-box;
}


:root {  
    --clr-primary: #d4449d;
    --clr-secondary: #dc234e;
    --clr-tercerary: #f0f8ff;
    --clr-gradient: linear-gradient(-90deg, var(--clr-primary), var(--clr-secondary));
}

body {
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-tercerary)
}


.title {
    font-family: 'Bungee', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 2em;
    margin: 0;
    background: var(--clr-gradient);
    color: var(--clr-tercerary);
    text-shadow: 3px 5px 10px rgba(0,0,0, .2);
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

.container__title {
    margin-bottom: 0;
}

.container__title::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-image: var(--clr-gradient);
    
}

dl > * {
    margin-bottom: .5em;
}

dt {
    font-weight: 700;
}

dt::after {
    content: ':';
}

.filled::before {
    content: '';
    display: inline-block;
    width: .65rem;
    aspect-ratio: 1/1;
    margin-right: 4px;
    background:var(--clr-gradient);
    border-radius: 100%;
}

.empty::before {
    content: '\2796 ';
}

